@font-face {
    font-family: 'Playpen';
    src: url('../fonts/Playpen/static/PlaypenSans-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playpen_light';
    src: url('../fonts/Playpen/static/PlaypenSans-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Patrick';
    src: url('../fonts/Patrick/PatrickHandSC-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Borel';
    src: url('../fonts/Borel/Borel-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Londrina';
    src: url('../fonts/Londrina/LondrinaSolid-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/RubikMonoOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caveat';
    src: url('../fonts/Caveat/static/Caveat-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgba(255, 166, 0, 0.322);
}

header {
    font-family: Playpen;
}

main {
    font-family: Playpen;
}

::placeholder {
    font-size: 0.7rem;
    font-family: Playpen_light;
    font-style: italic;
}

.pending{
    background-color: rgb(101, 101, 238);
}

.inprogress{
    background-color: rgb(255, 102, 0);
}

.completed{
    background-color: rgba(2, 226, 2);
}

.signal{
    background-size: cover;
    width: 60px;
    height: 70px;
}

.trafficGreen{
    background-image: url('../images/green.png');
}

.trafficYellow{
    background-image: url('../images/yellow.png');
}

.trafficRed{
    background-image: url('../images/red.png');
}

.warning{
    background-image: url('../images/warning.png');
}